.Main
  .Main-header
    .Main-header_group
      .Main-header_groupname
        = @group.name
      %Ul.Main-header_memberList
        Member : 
        - @group.users.each do |user|
          %Li.Main-header_member
            = user.name
    = link_to edit_group_path(@group), class:"Main-header_editButton" do
      Edit
  .Messages
    = render @messages
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'