.Sidebar
  .Side-header
    .Side-box
      %p.User-name
        = current_user.name
      %ul.Side-menu_user
        %li.Side-menu_user_icon
          = link_to new_group_path do
            = icon('far', 'edit')
        %li.Side-menu_user_icon
          = link_to edit_user_path(current_user) do
            =icon('fas','cog')
  .Grouplist
    - current_user.groups.each do |group|
      .Group
        = link_to group_messages_path(group) do
          .Group__name
            = group.name
          .Group__message
            = group.show_last_message